<div class="form-signin-wrapper">
  <main class="form-signin text-center">
    <form onsubmit={{action "saveUser"}}>
      <img class="mb-4" src="images/logo-dark.png" alt="" height="57">
      <h1 class="h3 mb-3 fw-normal">Регистрация</h1>

      <div class="form-floating form-floating--margin errors">
        <div class="errors">
          {{#each errors.email as |error|}}
            <span class="errors__item">{{error.message}}</span>
          {{/each}}
        </div>
        {{input type="email" class="form-control " id="floatingInput" placeholder="name@example.com" required="true" value=email}}
      </div>
      <div class="form-floating">
        {{input type="password" class="form-control" id="floatingPassword" placeholder="Пароль" required="true" value=password}}
      </div>
      {{g-recaptcha-v2 verified=(action "verified") expired=(action "expired") reset=reset}}
      <button class="w-100 btn btn-lg btn-primary mb-3" disabled={{iAmRobot}} type="submit" href="index.html">Зарегистрироваться</button>
      <a class="w-100" href="index.html" onclick={{action "comeBack"}}>Назад</a>
    </form>
  </main>
</div>